

* {
    font-family: 'Lexend Tera', sans-serif

}
body {
    margin: 0rem;
}

header {
    background-image: url("cv12_photos_v2_x4_min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

h1 {
    text-align: center;
    padding-top: 7rem;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 2px;
}
h2 {
    margin-bottom: 3rem;
    margin-top: 10rem;
}

header p {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 2rem;
    color: grey;
}
nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33%;
}
nav a:hover {
    background-color: darkgray;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    background-color: black;
    height: 6rem;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 1rem;
    width: 70%;
    margin: 0;
    padding: 0;
}

header ul li {
    list-style: none;
    padding-left: 2rem;
}
a {
    text-decoration: none;
    color: grey;
    font-size: 1.4rem;
}
.bloc-photo img {
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.bloc-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloc-photo {
    padding-top: 6rem;
}
h2, p {
    text-align: center;
    color: dimgrey;
    font-size: 1.3rem;
}
h2 {
    font-size: 1.7rem;
    margin-top: 5rem;
}
.icones img {
    width: 5rem;
    height: 5rem;
    padding-top: 0.5rem;
}
.icones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.icones img:nth-child(9) {
    width: 10rem;
    height: 5rem;
}

.icones img:nth-child(8) {
    margin-left: 0.5rem;
}

.icones img:nth-child(5) {
    margin-left: 0.5rem;
}

.icones img:nth-child(6) {
    margin-left: 0.5rem;
}
.bloc-propos p {
    text-align: justify;
}

.bloc-projets p {
    text-align: justify;
    margin: 0.2rem;
}


.bloc-propos, .bloc-recherche, .bloc-competences, .bloc-projets {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloc-propos, .bloc-recherche, .bloc-competences, .bloc-projets p {
    width: 80%;
}
.image-projet, .experiences, .formations {
    width: 80%;
}

.projet1, .projet2, .projet3, .projet4, .projet5, .projet0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid gainsboro;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.projet5 {
    border-bottom: 2px solid gainsboro;
}

.photo2, .textePhoto3, .textePhoto4, .textePhoto5, .textePhoto6, .photo0Bis {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-projet {
    margin-top: 2rem;
}

.image-projet img {
    width: 20rem;
    height: 15rem;
    margin-top: 1rem;
    border-radius: 15px;
}
em {
    font-weight: bold;
}
h3 {
    text-align: center;
    color: dimgrey;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
h4 {
    text-align: center;
    color: dimgrey;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}
.contact img {
    width: 6rem;
    height: 6rem;
}
.bloc-projets a img:hover {
    filter: opacity(50%);
}
.job div ul {
    color: dimgrey;
    font-size: 1.4rem;
}
.job .lidl {
    border-bottom: 2px solid gainsboro;
    border-top: 2px solid gainsboro;
    padding-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
    header {
        background-image: url("cv12_photos_v2_x4_min.jpg");
        background-size: cover;
        width: 100%;
        height: 35rem;
    }
    nav {
        background-color: black;
        height: 6rem;
    }

    nav ul {
        width: 70%;
        margin: 0;
        padding: 0;
    }
    nav li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 33%;
    }
    nav a:hover {
        background-color: darkgray;
        color: whitesmoke;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        margin-top: 4rem;
    }
    .bloc-photo img {
        width: 15rem;
        height: 15rem;
    }
    .bloc-photo {
        margin-top: 3rem;
    }
    .image-projet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo0Bis{
        width: 35rem;
    }
    .projet1, .projet2, .projet3, .projet4, .projet5 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top: 2px solid gainsboro;
        width: 80rem;
    }
    .image-projet img {
        width: 25rem;
        height: 15rem;
        margin-top: 1rem;
        border-radius: 15px;
    }
    .photo2, .textePhoto3, .textePhoto4, .textePhoto5, .textePhoto6, .photo0Bis {
        width: 35rem;
    }
    .projet5 {
        border-bottom: 2px solid gainsboro;
        padding-bottom: 3rem;
        padding-top: 2rem;
    }
    .projet0 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid gainsboro;
        width: 80rem;
    }
    .job {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .job div {
        width: 30%;
    }
    .job div ul  {
        margin: 0;
        color: dimgrey;
        font-size: 1.3rem;
        margin-top: 1.3rem;
    }
    .job div ul li {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .job .lidl ul li {
        margin-bottom: 0.5rem;
    }
    .job div h4 {
        margin-top: 1.5rem;
    }
    .job .lidl {
        border-right: 2px solid gainsboro;
        border-left: 2px solid gainsboro;
        padding: 1rem;
        border-top: none;
        border-bottom: none;
    }
    h2 {
        margin-top: 8rem;
    }
    .bloc-propos p {
        width: 100%;
        text-align: left;
    }

}